body {
background-image: url("https://img.freepik.com/free-photo/2d-graphic-wallpaper-with-colorful-grainy-gradients_23-2151001557.jpg?t=st=1723460589~exp=1723464189~hmac=ae0f6526d69e0640563439b0cbf56f38f247685fde8d4452e81c60b122068af6&w=360");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

body::before {
  content: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#heading {
  font-size: 24px;
  text-align: center;
  word-break: break-word;
}

#subheading {
  font-size: 18px;
  text-align: center;
  word-break: break-word;
}

.textbox {
  width: 100%;
  height: auto;
  overflow-wrap: break-word;
  text-align: center;
  font-family: Garamond, sans-serif;
  font-weight: light;
  margin-bottom: 30px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

#login-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Madhu {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Media queries for mobile browsers */

@media only screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
  #login-form {
    padding: 10px;
  }
  #Madhu {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  #heading {
    font-size: 18px;
  }
  #subheading {
    font-size: 16px;
  }
  .textbox {
    font-size: 14px;
  }
}
